@charset "UTF-8";
/* CSS Document */

html {
	overflow-y:scroll;
}

body{
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',"MS PGothic",sans-serif;
	vertical-align: baseline;
	font-weight: inherit;
	font-style: inherit;
	list-style: none;
	font-size:16px;
	line-height:1.5;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6, div, p, span, ul, li, dl, dt, dd,table{
	margin:0;
	padding:0;
}

table{border-collapse:collapse;}

li{
	list-style:none;
}

a{text-decoration:underline;
	color: #000;
display: inline-block;
	transition: .3s;
	-webkit-transform: scale(1);
	transform: scale(1);
	}
a:link,
a:visited{
	color: #000;
	text-decoration:none;
}
a:hover{
	color: #6bbb0a;
	text-decoration:underline;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
	}
	
a:active{}

#container{
	width: 100%;
	box-sizing: border-box;
	background: #000;
	padding-bottom: 10px;
}

#header{
	width:100%;
	background: #fff;
}

#header .header_box{
	width:1200px;
	display: table;
	margin: 10px auto;
}

#header h1{
	display: table-cell;
	vertical-align: middle;
}
#header h1 img{
	width: 100px;
}

#header .header_c{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

#header .header_c span{
	font-size: 12px;
}

#header .header_c .tel{
	font-size: 30px;
	font-weight: bold;
}

#header .header_r{
	display: table-cell;
	vertical-align: middle;
	width: 15%;
	padding-left: 10px;
}

#header .header_r a{
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: #f1004f;
	padding: 8px;
	border-radius: 10px;
	text-decoration: none;
	box-sizing: border-box;
}


/* top */
#top{
	width: 100%;
	margin: 0 auto;
    background: url(../img/img_top_bg.jpg) no-repeat 50% 20%;
    background-size: cover;
    padding: 50px 0;
}
#top p{
	width: 1000px;
    display: block;
	margin: 0 auto;
}
#top p img{
	width: 100%;
}


/*　エリア確認 */
#area{
	width: 1200px;
	margin: 10px auto;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
}

#area h3{
	font-size: 20px;
	color: #6bbb0a;
}

#area h3 span{
	font-size: 16px;
	color: #000;
}

#area table{
	width: 100%;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 0 20px 0 0;
}

#area table tbody tr {
    border-bottom: 1px solid #ccc;
}

#area table td{
	border-right: 1px solid #ccc;
	font-size: 80%;
	padding: 5px;
}

#area table td input {
    border: none;
    background: #ccc;
    padding: 7px 5px;
    border-radius: 5px;
}

#area table th{
	background: #999;
	color: #fff;
	font-weight: normal;
	text-align: center;
	padding: 5px;
}

#area table .autoInput{
	text-decoration: none;
    padding: 0 5px;
    background: #111;
    color: #fff;
    margin: 5px 0 0 0;
}

#area table input{
	margin: 2px;
}

#area .btn{
	margin: 10px auto 5px;
    height: 60px;
    width: 200px;
}
#area #submit {
    background: #6cbb0a;
	font-size: 16px;
    color: #fff;
    border: 0;
    height: 60px;
    width: 200px;
    cursor: pointer;
}

#area #submit:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}


/* 申し込み */
.contact{
	width: 1200px;
	margin: 0 auto 10px;
	display: table;
	color: #fff;
	font-size: 18px;
}

.contact .contact_l{
	display: table-cell;
	vertical-align: middle;
	width: 40%;
	line-height: 1.3;
	padding-left: 10px;
}

.contact .contact_l .tel{
	font-size: 45px;
	font-weight: bold;
}

.contact .contact_l .tel::before{
	content: url(../img/img_tel_w.png);
	margin-right: 10px;
}

.contact .contact_r{
	display: table-cell;
	vertical-align: middle;
	width: 60%;
}

.contact .contact_r dl{
	width: 100%;
	display: table;
}

.contact .contact_r dl dt,
.contact .contact_r dl dd{
	display: table-cell;
	vertical-align: middle;
	width: 50%;
}

.contact .contact_r dl dt a,
.contact .contact_r dl dd a{
	background: linear-gradient(-135deg, #d61454, #f4004b);
	padding: 20px 0;
	width: 100%;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 5px;
}

.contact .contact_r dl dt{
	padding-right: 10px;
}

.contact .contact_r dl dd{
	padding-left: 10px;
}



/* 選ばれる理由 */
#elected{
	width: 1200px;
	margin: 0 auto 10px;
	padding: 30px 0;
	background: #fff;
}

h2{
	text-align: center;
	margin-bottom: 50px;
}

#elected h3{
	position: relative;
	background: #000;
	width: 100%;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	padding: 10px 0 10px 150px;
	border-bottom: 5px solid #6bbb0a;
	box-sizing: border-box;
}

#elected h3 span{
	position: absolute;
	left: 30px;
	top: -17.5px;
}

#elected .no01,
#elected .no03,
#elected .no04,
#elected .no05{
	width: 1100px;
	margin: 30px auto 60px;
}

#elected .text{
	margin: 20px 0;
}

#elected .top_no02{
	width: 100%;
	border-bottom: 1px solid #000;
}

#elected .top_no02 dl{
	display: table;
	width: 1100px;
	margin: 30px auto;
}

#elected .top_no02 dl dt,
#elected .top_no02 dl dd{
	display: table-cell;
	vertical-align: middle;
}

#elected .top_no02 dl dd{
	padding-left: 15px;
}

#elected .no02{
	width: 1100px;
	margin: 30px auto;
	display: table;
}

#elected .no02 .no02_l{
	font-size: 35px;
	font-weight: bold;
	display: table-cell;
	vertical-align: top;
}

#elected .no02 .no02_l h4{
	font-size: 55px;
}

#elected .no02 .no02_l p{
	
}

#elected .no02 .no02_l .tit{
	color: #6bbb0a;
    font-size: 50%;
}

#elected .no02 .no02_l span{
	font-size: 60%;
}

#elected .bottom_no02{
	width: 100%;
	border-top: 1px solid #000;
	padding: 20px 0;
}

#elected .bottom_no02 h4{
	font-size: 55px;
	text-align: center;
}

#elected .bottom_no02 dl{
	display: table;
	width: 1100px;
	margin: 30px auto;
}

#elected .bottom_no02 dl dt,
#elected .bottom_no02 dl dd{
	display: table-cell;
	vertical-align: top;
}

#elected .bottom_no02 dl dt span{
	font-size: 80%;
}

#elected .bottom_no02 dl dd{
	padding-left: 15px;
}

#elected .no02 .no02_r{
	display: table-cell;
	vertical-align: top;
	width: 543px;
}

#elected .no03 dl{
	display: table;
	width: 100%;
}

#elected .no03 dl dt,
#elected .no03 dl dd{
	display: table-cell;
	vertical-align: top;
}

#elected .no03 dl dt{
	padding-right: 20px;
}

#elected .no04 ul{
	width: 100%;
	padding: 20px;
	text-align: center;
	background: linear-gradient(-135deg, #d61454, #f4004b);
	display: table;
	box-sizing: border-box;
	margin-bottom: 20px;
}

#elected .no04 ul li{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 22px;
}

#elected .no04 ul li:first-child{
	font-size: 30px;
	font-weight: bold;
}

#elected .no04 ul li:last-child{
	background: #fff;
	border: 1px solid #000;
	padding: 5px;
	color: #000;
}

#elected .no04 .no04_box{
	display: table;
	width: 100%;
}

#elected .no04 .no04_l{
	display: table-cell;
	vertical-align: top;
	width: 40%;
}
#elected .no04 .no04_l h4{
	font-size: 40px;
	font-weight: bold;
}

#elected .no04 .no04_l p{
	margin-bottom: 20px;
}

.center{
	text-align: center;
}

#elected .no04 .no04_r{
	display: table-cell;
	vertical-align: top;
}

#elected .no04 .no04_r p span{
	font-size: 80%;
}

#elected .no04 .no04_r .cp{
	color: #f4004b;
	margin: 20px 0 10px;
}

#elected .no04 .no04_r .cp span{
	padding: 5px;
	box-sizing: border-box;
	border: 2px solid #f4004b;
	font-size: 20px;
	font-weight: bold;
}

#elected .no04 .no04_r .no04_r_box{
	background: linear-gradient(-135deg, #d61454, #f4004b);
	width: 100%;
	padding: 20px;
	color: #fff;
	box-sizing: border-box;
	margin: 15px 0 0 0;
}

#elected .no04 .no04_r .no04_r_box h5{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid #fff;
	margin-bottom: 10px;
}

#elected .no05{
	font-size: 20px;
	font-weight: bold;
}

#elected .no05 span{
	font-size: 70%;
}

#elected .no05 .red{
	color: #ff0000;
	font-size: 80%;
	margin: 10px 0 40px 0;
	font-weight: normal;
}



/* 流れ */
#flow{
	width: 1200px;
	margin: 10px auto 0;
	background: #fff;
	padding: 40px 0;
}

#flow .flow_box{
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

#flow .flow_box h4{
	font-size: 40px;
	font-weight: bold;
	margin: 30px 0 10px;
}



/* キャンペーン */
#campaign{
	width: 1200px;
	margin: 0 auto;
	background: url(../img/bg_gold.jpg);
	padding-bottom: 50px;
}

#campaign .campaign_top{
	padding: 80px 0 60px 50px;
	background: url(../img/bg_get.png)no-repeat right bottom;
	box-sizing: border-box;
	
}

#campaign .campaign_box{
	width: 1100px;
	margin: 0 auto;
}

#campaign .campaign_box p{
	margin-bottom: 15px;
    font-size: 16px;
}



/* 注意事項 */
#notes{
	width: 1100px;
	margin: 80px auto 120px;
	color: #fff;
	font-size: 13px;
}

#notes a{
	color: #6bbb0a;
}
#notes h4{
	font-size: 20px;
	font-weight: bold;
	border-bottom: 2px solid #fff;
	margin-bottom: 20px;
}

#notes h5{
	font-weight: bold;
	font-size: 16px;
	margin: 15px 0 5px;
}

#notes ul{
	margin: 15px 0 30px;
}

#notes ul li{
	list-style-type: disc;
	margin: 0 0 0 20px;
}




#company h3,
#campaign_info h3,
#privacy h3{
	background: #000;
	width: 100%;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	padding: 10px 0 10px 30px;
	border-bottom: 5px solid #6bbb0a;
	box-sizing: border-box;
	margin-bottom: 30px;
}




/* 運営会社 */
#company,
#campaign_info,
#privacy {
	width: 1200px;
	margin: 50px auto;
	background: #fff;
	padding: 0 0 10px;
	box-sizing: border-box;
}

#company dl{
	width: 1000px;
	margin: 0 auto 30px;
	display: table;
}

#company dl dt{
	display: table-cell;
	vertical-align: top;
	padding: 10px;
	background: #eee;
	border-bottom: 2px solid #6bbb0a;
	font-size: 16px;
	font-weight: bold;
	width: 20%;
}

#company dl dd{
	display: table-cell;
	vertical-align: top;
	padding: 10px;
	border-bottom: 2px solid #ccc;
}



/* キャンペーン */
#campaign_info .campaign_info_box{
	width: 1100px;
	margin: 20px auto 80px;
}

#campaign_info .campaign_info_box h4{
	font-size: 25px;
	font-weight: bold;
	color: #6bbb0a;
	border-bottom: 2px dotted #6bbb0a;
	padding: 5px 0;
	margin-bottom: 20px;
}

#campaign_info .campaign_info_box h5{
	font-size: 18px;
	margin: 30px 0 15px;
	background: #eee;
	padding: 5px;
	box-sizing: border-box;
}

#campaign_info .campaign_info_box dl{
	display: table;
	width: 700px;
	border-left: 1px solid #333;
}

#campaign_info .campaign_info_box dl.first{
	border-top: 1px solid #333;
}

#campaign_info .campaign_info_box dl dt{
	display: table-cell;
	vertical-align: middle;
	background: #eee;
	padding: 5px 0;
	width: 50%;
	text-align: center;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
}

#campaign_info .campaign_info_box dl dd{
	display: table-cell;
	vertical-align: middle;
	padding: 5px 0;
	text-align: center;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
}

#campaign_info .campaign_info_box .min{
	font-size: 80%;
	margin-top: 10px;
}

#campaign_info .campaign_info_box table{
	text-align: center;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	margin-bottom: 15px;
}

#campaign_info .campaign_info_box table th{
	background: #eee;
	font-weight: normal;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	padding: 5px;
}

#campaign_info .campaign_info_box table td{
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	padding: 5px;
}

#campaign_info .campaign_info_box table td span{
	color: #D80003;
	font-weight: bold;
}

#campaign_info .campaign_info_box ul{
	margin: 10px 0;
}

#campaign_info .campaign_info_box ul li{
	list-style-type: square;
	margin: 5px 0 5px 20px;;
	font-size: 80%;
}



#contents_bg{
	background: #fff;
	width: 1200px;
	margin: 0 auto;
	padding: 40px 0;
}


#privacy .privacy_box{
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;
}

#privacy .privacy_box ul{
	margin: 30px 0;
}

#privacy .privacy_box ul li{
	list-style-type: decimal;
	margin: 0 0 0 30px;
}


#campaign_top{
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

#campaign_top span{
	font-size: 80%;
}

#campaign_top a{
	color: #6cbb0a;
}


.thanks{
	padding: 200px 20px;
	text-align: center;
}



footer{
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.sp{
	display: none;
}


#app_fix{
	background: rgba(0,0,0,0.8);
	width: 100%;
}

#app_fix .contact{
	width: 1200px;
	margin: 10px auto;
}



@media screen and (max-width: 768px) {
	
.sp{
	display: inline;
}
	
.pc{
	display: none;
}

body{
	font-size: 12px;
}
	
img{
	max-width: 100%;
	height: auto;
}

#header{
	width:100%;
	background: #fff;
}
	
#header h1{
	padding-right: 5px;
	box-sizing: border-box;
	width: 28%;
}

#header .header_box{
	width:95%;
}

#header .header_c{
	text-align: right;
	line-height: 1.3;
	font-size: 2.5vw
}

#header .header_c span{
	font-size: 2.5vw;
}

#header .header_c .tel{
	font-size: 5.5vw;
}


#header .header_r{
	display: none;
}

#header .header_r a{
	width: 100%;
	font-size: 12px;
	padding: 5px;
	border-radius: 5px;
}
	
	
/* top */
#top{
	max-width: 100%;
	min-width: 100%;
	margin: 0 auto;
    padding: 30px 0;
    background-position: 50% 80%;
    background-size: 200%;
}

#top p{
    width: 96%;
}


/*　エリア確認 */
#area{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#area h3{
	font-size: 18px;
	line-height: 1;
	margin-bottom: 10px;
}

#area h3 span{
	font-size: 4vw;
}

#area table{
	width: 100%;
	margin: 0;
}

#area table td{
	font-size: 100%;
	display: block;
	box-sizing: border-box;
}

#area table td input {
	width: 90%;
	box-sizing: border-box;
}
	
#area table td input.w100 {
	width: 100%;
	box-sizing: border-box;
}
	
#area table td input.radio{
	width: auto;
	box-sizing: border-box;
}

#area table th{
	padding: 5px;
	display: block;
}

#area .btn{
	margin: 10px auto;
    height: 50px;
    width: 200px;
}
#area #submit {
    height: 50px;
    width: 200px;
}

#area #submit:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter: "alpha(opacity=70)";
}


	

/* 申し込み */
.contact{
	width: 95%;
	margin: 0 auto 10px;
	display: inherit;
	font-size: 14px;
}

.contact .contact_l{
	display: inherit;
	width: 100%;
	margin-left: 0;
	text-align: center;
	margin-bottom: 10px;
	padding: 0;
}

.contact .contact_l .tel{
	font-size: 9vw;
	font-weight: bold;
}
	
.contact .contact_l .tel a{
	color: #fff;
}

.contact .contact_l .tel::before{
	content:" ";
    display:inline-block;
    width:30px;
    height:30px;
    background:url(../img/img_tel_w.png) no-repeat;    
    background-size:contain;
    vertical-align:middle;
	margin-right: 0;
}

.contact .contact_r{
	display: inherit;
	vertical-align: middle;
	width: 100%;
}

.contact .contact_r dl dt a,
.contact .contact_r dl dd a{
	font-size: 18px;
}

.contact .contact_r dl dt{
	padding-right: 5px;
}

.contact .contact_r dl dd{
	padding-left: 5px;
}

	
	
/* 選ばれる理由 */
#elected{
	width: 95%;
	padding: 30px 0;
	background: #fff;
}

h2{
	width: 90%;
	margin: 0 auto 40px;
}

#elected h3{
	position: relative;
	font-size: 4.5vw;
	padding: 10px 0 10px 65px;
}
	
#elected h3 img{
	max-width: 50%;
	height: auto;
}

#elected h3 span{
	position: absolute;
	left: 10px;
	top: -9px;
}

#elected .no01,
#elected .no03,
#elected .no04,
#elected .no05{
	width: 95%;
	margin: 20px auto;
}

#elected .text{
	margin: 10px 0;
}

#elected .top_no02 dl{
	display: table;
	width: 95%;
	margin: 10px auto;
}

#elected .top_no02 dl dt{
	width: 25%;
}

#elected .top_no02 dl dd{
	padding-left: 5px;
}

#elected .no02{
	width: 95%;
	margin: 10px auto;
	display: inherit;
}

#elected .no02 .no02_l{
	font-size: 8vw;
	display: inherit;
	margin-bottom: 10px;
}

#elected .no02 .no02_l h4{
	font-size: 10vw;
}

#elected .no02 .no02_l span{
	font-size: 70%;
}

#elected .bottom_no02{
	width: 100%;
	padding: 10px 0;
}

#elected .bottom_no02 h4{
	font-size: 7vw;
	text-align: center;
}

#elected .bottom_no02 dl{
	display: inherit;
	width: 95%;
	margin: 30px auto 10px;
}

#elected .bottom_no02 dl dt,
#elected .bottom_no02 dl dd{
	display: inherit;
	padding-bottom: 10px;
}

#elected .bottom_no02 dl dt span{
	font-size: 90%;
}

#elected .bottom_no02 dl dd{
	padding-left: 0;
}

#elected .no02 .no02_r{
	display: inherit;
	width: 100%;
}

#elected .no03 dl{
	display: inherit;
	width: 100%;
}

#elected .no03 dl dt,
#elected .no03 dl dd{
	display: inherit;
}

#elected .no03 dl dt{
	padding-right: 0;
	margin-bottom: 10px;
}

#elected .no04 ul{
	width: 100%;
	padding: 10px;
	display: inherit;
	margin-bottom: 10px;
}

#elected .no04 ul li{
	display: inherit;
	font-size: 14px;
}

#elected .no04 ul li:first-child{
	font-size: 25px;
	font-weight: bold;
}

#elected .no04 ul li:last-child{
	box-sizing: border-box;
}

#elected .no04 .no04_box{
	display: inherit;
	width: 100%;
}

#elected .no04 .no04_l{
	display: inherit;
	width: 100%;
}
#elected .no04 .no04_l h4{
	font-size: 24px;
}

#elected .no04 .no04_l p{
	margin-bottom: 10px;
}

#elected .no04 .no04_r{
	display: table-cell;
	vertical-align: top;
}

#elected .no04 .no04_r p span{
	font-size: 80%;
}

#elected .no04 .no04_r .cp span{
	font-size: 14px;
}

#elected .no04 .no04_r .no04_r_box{
	width: 100%;
	padding: 10px;
}

#elected .no04 .no04_r .no04_r_box h5{
	font-size: 16px;
	margin-bottom: 5px;
}

#elected .no05{
	font-size: 16px;
}

#elected .no05 span{
	font-size: 70%;
}

#elected .no05 .red{
	font-size: 80%;
	margin: 10px 0 20px 0;
}



/* 流れ */
#flow{
	width: 100%;
	margin: 10px auto 0;
	padding: 20px 0;
}

#flow .flow_box{
	width: 95%;
	margin: 0 auto;
	text-align: center;
}

#flow .flow_box h4{
	font-size: 20px;
	margin: 10px 0;
}



/* キャンペーン */
#campaign{
	width: 100%;
	margin: 0 auto;
	background: url(../img/bg_gold.jpg);
	padding-bottom: 20px;
}

#campaign .campaign_top{
	padding: 30px 0 30px 5px;
	background: url(../img/bg_get.png)no-repeat right bottom;
	background-size: 50% auto;
}
	
#campaign .campaign_top img{
	width: 65%;
	height: auto;s
}

#campaign .campaign_box{
	width: 95%;
	margin: 0 auto;
	box-sizing: border-box;
}

#campaign .campaign_box p{
	margin-bottom: 5px;
}



/* 注意事項 */
#notes{
	width: 90%;
	margin: 20px auto 40px;
}

#notes h4{
	font-size: 16px;
	margin-bottom: 10px;
}

#notes h5{
	font-size: 16px;
	margin: 10px 0 5px;
}

#notes ul{
	margin: 15px 0 30px;
}

#notes ul li{
	list-style-type: disc;
	margin: 0 0 0 20px;
}
	

	
	
#company,
#campaign_info,
#privacy{
    width: 100%;
    margin: 10px auto;
    padding: 0 0 30px;
}
	
/* キャンペーン */
	
#campaign_info{
	width: 100%;
}
#campaign_info .campaign_info_box{
	width: 95%;
	margin: 10px auto 30px;
}

#campaign_info .campaign_info_box h4{
	font-size: 20px;
	padding: 5px 0;
	margin-bottom: 10px;
}

#campaign_info .campaign_info_box h5{
	font-size: 16px;
	margin: 10px 0 5px;
}

#campaign_info .campaign_info_box dl{
	display: inherit;
	width: 100%;
}

#campaign_info .campaign_info_box dl dt{
	display: inherit;
	width: 100%;
	box-sizing: border-box;
}

#campaign_info .campaign_info_box dl dd{
	display: inherit;
	width: 100%;
	box-sizing: border-box;
}

#campaign_info .campaign_info_box .min{
	font-size: 80%;
	margin-top: 10px;
}


	
	
/* 運営会社 */
#company{
	width: 100%;
	margin: 10px auto 30px;
	background: #fff;
	padding: 0 0 20px;
	box-sizing: border-box;
}

#company h3,
#privacy h3{
	font-size: 5vw;
	padding: 10px 0 10px 15px;
	box-sizing: border-box;
}

#company dl{
	width: 95%;
	margin: 0 auto 30px;
}

#company dl dt{
	padding: 5px;
	background: #eee;
	font-size: 14px;
	width: 30%;
	box-sizing: border-box;
}

#company dl dd{
	padding: 5px;
	border-bottom: 2px solid #ccc;
}
	
	
#privacy .privacy_box {
    width: 95%;
    margin: 0 auto;
    padding: 0 0 10px;
}
	
#privacy .privacy_box ul li {
    margin: 0 0 0 20px;
}

	
	
#contents_bg {
    width: 100%;
    padding: 10px 0;
}
	
.thanks {
    padding: 100px 10px;
}
	
	
#app_fix .contact{
	display: none;
}
	
#app_fix ul{
	display: table;
	width: 100%;
}

#app_fix ul li{
	display: table-cell;
	width: 25%;
	border-right: 1px dotted #ccc;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	font-size: 2.5vw;
}

#app_fix ul li a{
	color: #fff;
}

#app_fix ul li :last-child{
	border-right: 0;
}
	
#app_fix ul li img{
	width: 15px;
	height: auto;
}


}

