@charset "UTF-8";
/*-------------------------------------------------
 common
-------------------------------------------------*/

$orange : #f39500;
$gray : #f4f5f4;
$gradient : linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);


#summary,#footerForm{
    article{
        #fromBox{
            border: 4px solid #fbd349;
            background: #fff;
            padding: 0 100px 50px;
            max-width: 780px;
            width: calc(90% - 200px);
            margin: 0 auto;
            position: relative;
            h2{
                background: #fbd349;
                color: #fff;
                text-align: center;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: -30px;
                width: 50%;
                font-size: 30px;
            }
            p{
                text-align: center;
                padding: 30px 0;
            }
            .formContent{
                width: 500px;
                margin: 0 auto;
                position: relative;
                ul{
                    li{
                        margin-bottom: 20px;
                        dl{
                            display: flex;
                            justify-content: space-between;
                            dt{
                                width: 30%;
                                font-size: 18px;
                                span{
                                    background: #f28f00;
                                    color: #fff;
                                    font-size: 10px;
                                    vertical-align: middle;
                                    padding: 5px;
                                    border-radius: 5px;
                                    margin-left: 10px;
                                }
                            }
                            dd{
                                width: 70%;
                                input[type='text']{
                                    width: 100%;
                                    padding: 5px;
                                }
                                input[type='tel']{
                                    width: 100%;
                                    padding: 5px;
                                }
                                select{
                                    padding: 5px;
                                }
                            }
                        }
                    }
                }
                button{
                    background: #f28f00;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    padding: 15px 0;
                    appearance: none;
                    margin: 0 auto;
                    width: 150px;
                    display: block;
                    font-size: 24px;
                    line-height: 1em;
                    border-radius: 10px;
                    color: #fff;
                    box-shadow: 0px 10px 0px 0px #fbd349;
                    transition: 0.2s;
                }
                button:hover{
                    box-shadow: 0px 0px 0px 0px #fbd349;
                    transform: translateY(10px);
                }
            }
        }
    }
}




/*-----estimate-----*/
#estimate{
    article{
            border: 4px solid #fbd349;
            background: #fff;
            padding: 0 100px 50px;
            max-width: 780px;
            width: calc(90% - 200px);
            margin: 0 auto;
            position: relative;
            h2{
                background: #fbd349;
                color: #fff;
                text-align: center;
                position: absolute;
                margin: auto;
                left: 0;
                right: 0;
                top: -30px;
                width: 50%;
                font-size: 30px;
            }
            p{
                text-align: center;
                padding: 30px 0;
            }
            .formContent{
                width: 500px;
                margin: 0 auto;
                position: relative;
                ul{
                    li{
                        margin-bottom: 20px;
                        dl{
                            display: flex;
                            justify-content: space-between;
                            dt{
                                width: 30%;
                                font-size: 18px;
                                span{
                                    background: #f28f00;
                                    color: #fff;
                                    font-size: 10px;
                                    vertical-align: middle;
                                    padding: 5px;
                                    border-radius: 5px;
                                    margin-left: 10px;
                                }
                            }
                            dd{
                                width: 70%;
                                input[type='text']{
                                    width: 100%;
                                    padding: 5px;
                                }
                                input[type='tel']{
                                    width: 100%;
                                    padding: 5px;
                                }
                                select{
                                    padding: 5px;
                                }
                            }
                        }
                    }
                }
                button{
                    background: #f28f00;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    padding: 15px 0;
                    appearance: none;
                    margin: 0 auto;
                    width: 190px;
                    display: block;
                    font-size: 24px;
                    line-height: 1em;
                    border-radius: 10px;
                    color: #fff;
                    box-shadow: 0px 10px 0px 0px #fbd349;
                    transition: 0.2s;
                    letter-spacing: -0.1em;
                }
                button:hover{
                    box-shadow: 0px 0px 0px 0px #fbd349;
                    transform: translateY(10px);
                }
            }
    }
    .appBtn{
        margin-top: 30px;
        a{
            background: #50ab4c;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 15px 0;
            appearance: none;
            margin: 0 auto;
            width: 220px;
            display: block;
            font-size: 24px;
            line-height: 1em;
            border-radius: 10px;
            color: #fff;
            box-shadow: 0px 10px 0px 0px #90c48d;
            transition: 0.2s;
            text-align: center;
            text-decoration: none;
            letter-spacing: -0.1em;
        }
        a:hover{
            box-shadow: 0px 0px 0px 0px #fbd349;
            transform: translateY(10px);
            opacity: 1;
        }
    }
}


#popup_area{
    padding: 5% 0;
    background-size: contain;
    article{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        h4{
            text-align: center;
            font-size: 18px;
            font-weight: 900;
            margin-bottom: 30px;
            color: $gradient;
            img{
                width: 20px;
            }
        }
        dl{
            dt{
                margin-bottom: 15px;
                font-weight: bold;
            }
            dd{
                text-align: left;
            }
        }
    }
}





/*-----モーダル-----*/
.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 600px;
    padding: 30px 50px;
    background-color: #fff;

    h3{
        text-align: center;
        color: #3796ee;
        font-size: 18px;
        font-weight: 600;
    }

    .modalItem{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        margin-bottom: 20px;

        ul{
            margin: auto 0;
        }

        li {
            width: 220px;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            line-height: 1.5;
            background: $gradient;
            border-bottom: 1px solid white;
        }

        li:last-of-type {
            border-bottom: none;/*最後の線だけ消す*/
        }

        p{
            font-size: 50px;
            margin: auto 0;
        }

        div{
            color: black;
            font-size: 40px;
            font-weight: 500;
            margin: auto 0;
            background: linear-gradient(transparent 99%, #3796ee 70%);
        }
    }

    .estimatedModalBox{
        font-size: 12px;
        color: #666;
    }

    .modalTel{
        text-align: end;
    }
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.modalBox{
    text-align: center;
    
}




@media screen and (max-width: 640px) {
    .pc{
        display: none;
    }

    .sp{
        display: inherit;
    }


    img{
        max-width: 100%;
        height: auto;
    }

}
