@charset "UTF-8";
/*-------------------------------------------------
 common
-------------------------------------------------*/
@import url(reset.css);
html {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  font-weight: 200;
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff;
  font-family: 'M PLUS 1p', sans-serif;
  color: #333;
  font-weight: 200;
  margin: 0;
  padding: 0;
  position: relative; }

* {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #333;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

a:hover {
  opacity: 0.7;
  cursor: none; }

.pc {
  display: block; }

.sp {
  display: none; }

#wrapper {
  width: 100%;
  overflow: hidden; }

/*essect*/
.ani1 span {
  -webkit-transition: linear .2s;
  transition: linear .2s;
  width: 0 !important;
  -webkit-transition: 0.3;
  transition: 0.3; }

.ani1.fadein span {
  width: calc(100% - 30px) !important; }

.ani2 span {
  -webkit-transition: linear .4s;
  transition: linear .4s;
  width: 0 !important;
  -webkit-transition: 0.3;
  transition: 0.3; }

.ani2.fadein span {
  width: calc(100% - 30px) !important; }

.bEffect01 {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.bEffect01.fadein {
  opacity: 1;
  -webkit-animation: border1 1s cubic-bezier(1, 0, 0, 1);
          animation: border1 1s cubic-bezier(1, 0, 0, 1); }

.bEffect02 {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.bEffect02.fadein {
  opacity: 1;
  -webkit-animation: border1 1.5s cubic-bezier(1, 0, 0, 1);
          animation: border1 1.5s cubic-bezier(1, 0, 0, 1); }

.bEffect03 {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.bEffect03.fadein {
  opacity: 1;
  -webkit-animation: border1 2s cubic-bezier(1, 0, 0, 1);
          animation: border1 2s cubic-bezier(1, 0, 0, 1); }

.bEffect04 {
  opacity: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.bEffect04.fadein {
  opacity: 1;
  -webkit-animation: border1 2.5s cubic-bezier(1, 0, 0, 1);
          animation: border1 2.5s cubic-bezier(1, 0, 0, 1); }

@-webkit-keyframes border1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }

@keyframes border1 {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0);
            transform: rotateY(0); } }
/*カーソル*/
#cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: -5px 0 0 -5px;
  /*半分引いてカーソル先端に画像中心位置が来るように*/
  z-index: 3;
  /*一番手前に来るように*/
  pointer-events: none;
  /*【重要】マウス直下に常に画像があるので、全てをクリックできなくなる。noneにして対応*/
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  opacity: 0;
  /*開いた瞬間非表示*/
  background: #111; }

#cursor.active {
  -webkit-transform: scale(1.8);
          transform: scale(1.8); }

#stalker {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  z-index: 2;
  /*一番手前に来るように*/
  pointer-events: none;
  /*【重要】マウス直下に常に画像があるので、全てをクリックできなくなる。noneにして対応*/
  background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);
  background-size: contain;
  opacity: 0;
  /*開いた瞬間非表示*/ }

/*-------------------------------------------------
 header
-------------------------------------------------*/
header {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 9999;
  padding-top: 10px; }
  header article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header article #logo img {
      width: 100px; }
    header article .boxR ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      header article .boxR ul li {
        margin: 0 10px; }
        header article .boxR ul li a {
          color: #fff;
          font-weight: 400;
          text-decoration: none; }
        header article .boxR ul li .mypage {
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 10px 15px; }
      header article .boxR ul li:last-child {
        margin-right: 0; }

.gray header {
  background: #333;
  padding: 10px 0; }

.fix-header {
  background-color: #333;
  line-height: 66px;
  top: -66px;
  left: 0;
  width: 100%;
  color: #fff;
  position: fixed;
  opacity: 0;
  z-index: 1000;
  padding: 5px 0; }
  .fix-header article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .fix-header article #logo img {
      width: 70px; }
    .fix-header article .boxR ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .fix-header article .boxR ul li {
        margin: 0 10px; }
        .fix-header article .boxR ul li a {
          color: #fff;
          font-weight: 400;
          text-decoration: none; }
        .fix-header article .boxR ul li .mypage {
          border: 1px solid #fff;
          border-radius: 5px;
          padding: 10px 15px; }
      .fix-header article .boxR ul li:last-child {
        margin-right: 0; }

/*-------------------------------------------------
 footer
-------------------------------------------------*/
footer {
  background: #333;
  color: #fff;
  padding: 30px 0; }
  footer article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; }
    footer article .boxL {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      footer article .boxL img {
        width: 100px;
        display: block;
        margin-right: 10px; }
    footer article .boxR {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      footer article .boxR > ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        footer article .boxR > ul li {
          width: 50%; }
          footer article .boxR > ul li a {
            color: #fff; }
      footer article .boxR .inner > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-bottom: 10px; }
        footer article .boxR .inner > ul li {
          margin-left: 10px; }
          footer article .boxR .inner > ul li img {
            width: 30px; }

/*-----top-----*/
#top {
  background: url(../img/top_bg.jpg) no-repeat 50% 10%;
  background-size: cover;
  height: 70vh;
  color: #fff; }
  #top article {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #top article h1 {
      font-size: 36px;
      width: 100%;
      padding-top: 20vh;
      font-weight: 600; }
    #top article h2 {
      font-size: 48px;
      font-weight: 900;
      width: 100%; }
      #top article h2 span {
        font-size: 82px; }
      #top article h2 small {
        font-size: 18px;
        line-height: 0; }
    #top article > div {
      display: block;
      height: 5px;
      width: 50px;
      margin: 15px 0 15px;
      background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%); }
    #top article ul {
      width: 100%;
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: #666;
      bottom: -30px;
      font-size: 16px;
      font-weight: 600; }
      #top article ul li {
        background: #fff;
        border-radius: 5px;
        padding: 30px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-weight: 400;
        width: 25%;
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        #top article ul li a {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 9; }
        #top article ul li em {
          position: absolute;
          bottom: 5px;
          right: 5px;
          font-size: 12px;
          z-index: 2; }
        #top article ul li span {
          display: block; }
          #top article ul li span img {
            width: 60px; }
        #top article ul li dl {
          margin-left: 10px;
          font-weight: 600; }
          #top article ul li dl dd {
            color: #3796ee; }
      #top article ul li:hover {
        -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(5px);
                transform: translateY(5px); }
      #top article ul li.lp {
        width: 40%; }

/*-----summary-----*/
#summary {
  background: #f6f6f6;
  padding: 100px 0 50px; }
  #summary article {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #summary article h2 {
      font-size: 48px;
      font-weight: 900;
      width: 100%;
      text-align: center; }
    #summary article .speed_img {
      background: #333;
      color: #fff;
      padding: 50px 0; }
      #summary article .speed_img .fon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto 30px;
        width: 90%; }
        #summary article .speed_img .fon .provider {
          width: 100px;
          text-align: center;
          font-weight: 600;
          line-height: 1em; }
        #summary article .speed_img .fon .border {
          width: calc(100% - 250px); }
          #summary article .speed_img .fon .border span {
            display: block;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: calc(100% - 30px);
            margin: 0 auto;
            background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);
            height: 10px; }
        #summary article .speed_img .fon .speed {
          font-size: 36px;
          font-weight: 900;
          color: #EC7103; }
      #summary article .speed_img .normal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 auto;
        width: 90%; }
        #summary article .speed_img .normal .provider {
          width: 100px;
          text-align: center;
          font-weight: 600;
          line-height: 1em; }
        #summary article .speed_img .normal .border {
          width: calc(70% - 250px); }
          #summary article .speed_img .normal .border span {
            display: block;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: calc(100% - 30px);
            margin: 0 auto;
            background: #fff;
            height: 5px;
            -webkit-animation: size 6s liner 3s 5 reverse both running;
                    animation: size 6s liner 3s 5 reverse both running; }
        #summary article .speed_img .normal .speed {
          font-size: 24px;
          font-weight: 900; }
    #summary article p {
      margin: 30px 0; }
    #summary article ul {
      margin-top: 30px; }

/*-----recommend-----*/
#recommend {
  padding: 50px 0; }
  #recommend article {
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #recommend article ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #recommend article ul li {
        width: 30%; }
        #recommend article ul li dl {
          text-align: center; }
          #recommend article ul li dl dt {
            font-size: 30px;
            margin: 10px 0 15px; }
          #recommend article ul li dl dd img {
            width: 150px; }

/*-----plan-----*/
#plan {
  padding: 50px 0;
  background: #666;
  color: #fff; }
  #plan article {
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #plan article .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 30px; }
      #plan article .box h2 {
        font-size: 30px;
        width: 30%;
        font-weight: 900; }
      #plan article .box p {
        margin-bottom: 30px; }
      #plan article .box h3 {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 24px; }
        #plan article .box h3 em {
          display: block;
          font-size: 72px;
          font-weight: 900; }
      #plan article .box ul {
        width: 70%; }
        #plan article .box ul li {
          border: 1px solid #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 10px;
          text-align: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          #plan article .box ul li img {
            width: 50px; }
          #plan article .box ul li dl {
            width: 150px;
            margin-left: 10px; }
            #plan article .box ul li dl dd {
              font-size: 36px;
              font-weight: 900;
              color: #f39500; }
              #plan article .box ul li dl dd sup {
                font-size: 40%; }
    #plan article > p {
      font-size: 12px; }

/*-----option-----*/
#option {
  padding: 50px 0;
  background: #f6f6f6; }
  #option article {
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #option article h2 {
      text-align: center;
      font-size: 36px;
      font-weight: 900;
      margin-bottom: 30px; }
    #option article > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-bottom: 30px; }
      #option article > ul li {
        font-size: 30px; }
        #option article > ul li input {
          display: none; }
        #option article > ul li input:checked + label:after {
          display: block;
          content: '';
          height: 3px;
          width: 100%;
          background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%); }
        #option article > ul li img {
          width: 36px; }
    #option article .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #option article .box .boxL {
        width: 60%;
        vertical-align: middle;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        #option article .box .boxL img {
          vertical-align: middle;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          width: 100%; }
      #option article .box .boxR {
        width: 35%; }
        #option article .box .boxR dl dt {
          font-weight: bold;
          font-size: 18px; }
        #option article .box .boxR dl dd {
          margin-bottom: 15px; }
        #option article .box .boxR .btn {
          background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);
          color: #fff;
          text-decoration: none;
          border-radius: 5px;
          padding: 10px 15px;
          display: inline-block; }

/*-----flow-----*/
#flow {
  padding: 50px 0; }
  #flow article {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #flow article h2 {
      text-align: center;
      font-size: 36px;
      font-weight: 900;
      margin-bottom: 30px; }
    #flow article ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #flow article ul li {
        width: 20%;
        background: #fff;
        -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
                box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
        padding: 2%; }
        #flow article ul li dl {
          text-align: center; }
          #flow article ul li dl dt {
            font-weight: 900;
            font-size: 24px;
            margin: 10px 0; }

/*-----area-----*/
#provide {
  padding: 50px 0;
  background: url(../img/map.svg) no-repeat 75% 50%, linear-gradient(61.56deg, #f6f6f6 0%, #ffffff 100%);
  background-size: contain; }
  #provide article {
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #provide article h2 {
      text-align: center;
      font-size: 36px;
      font-weight: 900;
      margin-bottom: 30px; }
    #provide article .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #provide article .box .boxL {
        width: 50%;
        font-weight: 600; }
        #provide article .box .boxL a {
          display: block;
          background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);
          color: #fff;
          text-align: center;
          width: 150px;
          padding: 10px 15px;
          border-radius: 5px;
          margin-top: 30px;
          text-decoration: none; }
      #provide article .box .boxR {
        display: none; }

#popup_area {
  padding: 5% 0;
  background-size: contain; }
  #popup_area article {
    width: 90%;
    height: 100%;
    margin: 0 auto; }
    #popup_area article h4 {
      text-align: center;
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 30px;
      color: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%); }
      #popup_area article h4 img {
        width: 20px; }
    #popup_area article dl dt {
      margin-bottom: 15px;
      font-weight: bold; }
    #popup_area article dl dd {
      text-align: left; }

/*-----support-----*/
#support {
  padding: 50px 0; }
  #support article {
    width: 90%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #support article h2 {
      text-align: center;
      font-size: 36px;
      font-weight: 900;
      margin-bottom: 30px; }
    #support article ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #support article ul li {
        width: 40%;
        margin: 0 5%;
        line-height: 2em; }
        #support article ul li .imgBox {
          height: 300px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end; }
          #support article ul li .imgBox img {
            height: 100%;
            width: auto; }
        #support article ul li h3 {
          font-size: 28px;
          font-weight: 900;
          margin: 15px 0; }
        #support article ul li a {
          color: #3796ee; }
      #support article ul li:nth-child(2) img {
        margin-left: -30px; }

/*-------------------------------------------------
 error
-------------------------------------------------*/
#error {
  background: url(../img/top_bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh; }
  #error article {
    color: #fff;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50vh;
    font-size: 18px; }
    #error article h1 {
      font-family: 'Ranchers', cursive;
      font-size: 72px; }
    #error article a {
      color: #fff;
      margin-top: 30px;
      display: inline-block; }

@media screen and (max-width: 640px) {
  .pc {
    display: none; }

  .sp {
    display: inherit; }

  img {
    max-width: 100%;
    height: auto; }

  #cursor, #stalker {
    display: none; }

  /*-------------------------------------------------
   header
  -------------------------------------------------*/
  header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 9999;
    padding-top: 10px; }
    header article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header article #logo img {
        width: 70px; }
      header article .boxR ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header article .boxR ul li {
          margin: 0 10px; }
          header article .boxR ul li a {
            color: #fff;
            font-weight: 400;
            text-decoration: none; }
          header article .boxR ul li .mypage {
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 5px 15px; }
        header article .boxR ul li:last-child {
          margin-right: 0; }

  .fix-header {
    background-color: #333;
    line-height: 56px;
    top: -56px;
    left: 0;
    width: 100%;
    color: #fff;
    position: fixed;
    opacity: 0;
    z-index: 1000;
    padding: 0px 0; }
    .fix-header article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 90%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .fix-header article #logo img {
        width: 50px; }
      .fix-header article .boxR ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .fix-header article .boxR ul li {
          margin: 0 10px; }
          .fix-header article .boxR ul li a {
            color: #fff;
            font-weight: 400;
            text-decoration: none; }
          .fix-header article .boxR ul li .mypage {
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 5px 15px; }
        .fix-header article .boxR ul li:last-child {
          margin-right: 0; }

  /*-------------------------------------------------
   footer
  -------------------------------------------------*/
  footer {
    background: #333;
    color: #fff;
    padding: 30px 0; }
    footer article {
      display: block;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 90%;
      max-width: 1200px;
      margin: 0 auto; }
      footer article .boxL {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 10px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 30px; }
        footer article .boxL img {
          width: 100px;
          display: block;
          margin-right: 10px; }
      footer article .boxR {
        display: block;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        footer article .boxR > ul {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 15px 0;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          footer article .boxR > ul li {
            width: 49%;
            margin-bottom: 10px; }
            footer article .boxR > ul li a {
              color: #fff;
              text-decoration: none; }
        footer article .boxR .inner {
          text-align: center; }
          footer article .boxR .inner > ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-bottom: 10px; }
            footer article .boxR .inner > ul li {
              margin: 0 10px; }
              footer article .boxR .inner > ul li img {
                width: 30px; }

  /*-----top-----*/
  #top {
    background: url(../img/top_bg.jpg) no-repeat 50% 10%;
    background-size: cover;
    height: auto;
    color: #fff;
    padding-bottom: 30px; }
    #top article {
      width: 90%;
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #top article h1 {
        font-size: 18px;
        width: 100%;
        padding-top: 20vh;
        font-weight: 600; }
      #top article h2 {
        font-size: 24px;
        font-weight: 900;
        width: 100%; }
        #top article h2 span {
          font-size: 54px; }
      #top article > div {
        display: block;
        height: 5px;
        width: 50px;
        margin: 15px 0 15px;
        background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%); }
      #top article ul {
        width: 100%;
        position: static;
        display: block;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: #666;
        bottom: -30px;
        font-size: 14px;
        font-weight: 600;
        margin-top: 30px; }
        #top article ul li {
          background: #fff;
          border-radius: 5px;
          padding: 5%;
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-weight: 400;
          width: 90%;
          -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
                  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
          -webkit-transition: 0.2s;
          transition: 0.2s;
          margin-bottom: 10px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          #top article ul li a {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9; }
          #top article ul li em {
            position: absolute;
            bottom: 5px;
            right: 5px;
            font-size: 12px;
            z-index: 2; }
          #top article ul li span {
            display: block; }
            #top article ul li span img {
              width: 30px; }
          #top article ul li dl {
            margin-left: 10px;
            font-weight: 600; }
            #top article ul li dl dd {
              color: #3796ee; }
        #top article ul li:hover {
          -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
                  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
          -webkit-transform: translateY(5px);
                  transform: translateY(5px); }
        #top article ul li.lp {
          width: 100%;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }

  /*-----summary-----*/
  #summary {
    background: #f6f6f6;
    padding: 30px 0; }
    #summary article {
      width: 90%;
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #summary article h2 {
        font-size: 36px;
        font-weight: 900;
        width: 100%;
        text-align: center; }
      #summary article .speed_img {
        background: #333;
        color: #fff;
        padding: 20px 0; }
        #summary article .speed_img .fon {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: 0 auto 30px;
          width: 90%; }
          #summary article .speed_img .fon .provider {
            width: 50px;
            text-align: center;
            font-weight: 600;
            line-height: 1em; }
          #summary article .speed_img .fon .border {
            width: calc(100% - 100px); }
            #summary article .speed_img .fon .border span {
              display: block;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              width: calc(100% - 30px);
              margin: 0 auto;
              background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);
              height: 10px; }
          #summary article .speed_img .fon .speed {
            font-size: 24px;
            font-weight: 900;
            color: #EC7103; }
        #summary article .speed_img .normal {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: 0 auto;
          width: 90%; }
          #summary article .speed_img .normal .provider {
            width: 50px;
            text-align: center;
            font-weight: 600;
            line-height: 1em;
            font-size: 10px; }
          #summary article .speed_img .normal .border {
            width: calc(70% - 100px); }
            #summary article .speed_img .normal .border span {
              display: block;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              width: calc(100% - 30px);
              margin: 0 auto;
              background: #fff;
              height: 5px;
              -webkit-animation: size 6s liner 3s 5 reverse both running;
                      animation: size 6s liner 3s 5 reverse both running; }
          #summary article .speed_img .normal .speed {
            font-size: 14px;
            font-weight: 900; }
      #summary article p {
        margin: 30px 0; }
      #summary article ul {
        margin-top: 30px; }

  /*-----recommend-----*/
  #recommend {
    padding: 30px 0; }
    #recommend article {
      width: 90%;
      max-width: 1100px;
      height: 100%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #recommend article ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        #recommend article ul li {
          width: 45%;
          margin-bottom: 20px; }
          #recommend article ul li dl {
            text-align: center; }
            #recommend article ul li dl dt {
              font-size: 18px;
              margin: 10px 0;
              font-weight: 600; }
            #recommend article ul li dl dd img {
              width: 120px; }
        #recommend article ul li:last-child {
          width: 70%;
          margin-bottom: 0; }

  /*-----plan-----*/
  #plan {
    padding: 30px 0;
    background: #666;
    color: #fff; }
    #plan article {
      width: 90%;
      max-width: 1100px;
      height: 100%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #plan article .box {
        display: block;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        #plan article .box h2 {
          font-size: 30px;
          width: 30%;
          font-weight: 900; }
        #plan article .box p {
          margin-bottom: 30px; }
        #plan article .box h3 {
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-size: 24px; }
          #plan article .box h3 em {
            display: block;
            font-size: 72px;
            font-weight: 900;
            line-height: 1em;
            margin-bottom: 30px; }
        #plan article .box ul {
          width: 100%; }
          #plan article .box ul li {
            border: 1px solid #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 10px;
            text-align: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; }
            #plan article .box ul li img {
              width: 30px; }
            #plan article .box ul li dl {
              width: 130px;
              margin-left: 10px; }
              #plan article .box ul li dl dd {
                font-size: 24px;
                font-weight: 900;
                color: #f39500; }

  /*-----option-----*/
  #option {
    padding: 30px 0;
    background: #f6f6f6; }
    #option article {
      width: 90%;
      max-width: 1100px;
      height: 100%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #option article h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 30px; }
      #option article > ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        margin-bottom: 30px; }
        #option article > ul li {
          font-size: 16px; }
          #option article > ul li input {
            display: none; }
          #option article > ul li input:checked + label:after {
            display: block;
            content: '';
            height: 3px;
            width: 100%;
            background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%); }
          #option article > ul li img {
            width: 24px; }
      #option article .box {
        display: block;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        #option article .box .boxL {
          width: 100%;
          vertical-align: middle;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 15px; }
          #option article .box .boxL img {
            vertical-align: middle;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 100%; }
        #option article .box .boxR {
          width: 100%; }
          #option article .box .boxR dl dt {
            font-weight: bold;
            font-size: 18px; }
          #option article .box .boxR dl dd {
            margin-bottom: 15px; }
            #option article .box .boxR dl dd ul li {
              list-style: inside; }
          #option article .box .boxR .btn {
            background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            padding: 10px 15px;
            display: inline-block;
            margin: 0 auto; }

  /*-----flow-----*/
  #flow {
    padding: 30px 0; }
    #flow article {
      width: 90%;
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #flow article h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 30px; }
      #flow article ul {
        display: block;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        #flow article ul li {
          width: 90%;
          background: #fff;
          -webkit-box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
                  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
          padding: 5%;
          margin-bottom: 15px; }
          #flow article ul li dl {
            text-align: center; }
            #flow article ul li dl dt {
              font-weight: 900;
              font-size: 18px;
              margin: 10px 0; }
            #flow article ul li dl dd img {
              width: 50%; }

  /*-----area-----*/
  #provide {
    padding: 30px 0;
    background: url(../img/map.svg) no-repeat 90% 85%, linear-gradient(61.56deg, #f6f6f6 0%, #ffffff 100%);
    background-size: 150px; }
    #provide article {
      width: 90%;
      max-width: 1000px;
      height: 100%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #provide article h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 30px; }
      #provide article .box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        #provide article .box .boxL {
          width: 100%;
          font-weight: 600; }
          #provide article .box .boxL a {
            display: block;
            background: linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);
            color: #fff;
            text-align: center;
            width: 150px;
            padding: 10px 15px;
            border-radius: 5px;
            margin-top: 30px;
            text-decoration: none; }
        #provide article .box .boxR {
          display: none; }

  /*-----support-----*/
  #support {
    padding: 30px 0; }
    #support article {
      width: 90%;
      max-width: 800px;
      height: 100%;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #support article h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 900;
        margin-bottom: 30px; }
      #support article ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        #support article ul li {
          width: 48%;
          margin: 0;
          line-height: normal; }
          #support article ul li .imgBox {
            height: 100px;
            display: block;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end; }
            #support article ul li .imgBox img {
              margin: 0 auto;
              display: block; }
          #support article ul li h3 {
            font-size: 18px;
            font-weight: 900;
            margin: 10px 0; }
          #support article ul li p {
            margin-bottom: 10px; }
          #support article ul li a {
            color: #3796ee;
            margin-bottom: 10px;
            display: inline-block; }

  /*-------------------------------------------------
   error
  -------------------------------------------------*/
  #error {
    background: url(../img/top_bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 100vh; }
    #error article {
      color: #fff;
      width: 90%;
      margin: 0 auto;
      text-align: center;
      padding-top: 50vh;
      font-size: 18px; }
      #error article h1 {
        font-family: 'Ranchers', cursive;
        font-size: 72px; }
      #error article a {
        color: #fff;
        margin-top: 30px;
        display: inline-block; } }

/*# sourceMappingURL=style.css.map */