@charset "UTF-8";
/*-------------------------------------------------
 common
-------------------------------------------------*/

$orange : #f39500;
$gray : #f4f5f4;
$gradient : linear-gradient(61.56deg, #FFD300 0%, #EC7103 100%);



/*-----estimate-----*/
#estimate,#footerForm{
    article{
        background: #fff;
        padding: 50px 0 50px;
        max-width: 980px;
        width: 90%;
        margin: 0 auto;
        position: relative;
        h2{
            text-align: left;
            width: 600px;
            font-size: 36px;
            margin: 0 auto;
            border-bottom: 3px solid #ccc;
        }
        p{
            padding: 30px 0;
            width: 600px;
            margin: 0 auto;
        }
        .formContent{
            width: 600px;
            margin: 0 auto;
            position: relative;
            ul{
                li{
                    margin-bottom: 20px;
                    dl{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        dt{
                            width: 30%;
                            font-size: 18px;
                            background: #f6f6f6;
                            text-align: center;
                            padding: 15px 0;
                            span{
                                background: #f28f00;
                                color: #fff;
                                font-size: 10px;
                                vertical-align: middle;
                                padding: 5px;
                                border-radius: 5px;
                                margin-left: 10px;
                            }
                        }
                        dd{
                            width: 65%;
                            input[type='text']{
                                width: 100%;
                                padding: 15px 10px;
                            }
                            input[type='tel']{
                                width: 100%;
                                padding: 15px 10px;
                            }
                            select{
                                padding: 15px 10px;
                            }
                        }
                    }
                }
            }
            button{
                background: $gradient;
                color: #fff;
                font-weight: bold;
                display: block;
                text-align: center;
                width: 150px;
                padding: 10px 15px;
                border-radius: 5px;
                border: 1px solid #fff;
                margin: 50px auto 0;
                text-decoration: none;
                transition: 0.3s;
            }
            button:hover{
                background: #fff;
                color: #000;
                border: 1px solid #000;
            }
        }
    }
}


#popup_area{
    padding: 5% 0;
    background-size: contain;
    article{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        h4{
            text-align: center;
            font-size: 18px;
            font-weight: 900;
            margin-bottom: 30px;
            color: $gradient;
            img{
                width: 20px;
            }
        }
        dl{
            dt{
                margin-bottom: 15px;
                font-weight: bold;
            }
            dd{
                text-align: left;
            }
        }
    }
}





/*-----モーダル-----*/
.modalArea {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 600px;
    padding: 30px 50px;
    background-color: #fff;

    h3{
        text-align: center;
        color: #3796ee;
        font-size: 18px;
        font-weight: 600;
    }

    .modalItem{
        display: flex;
        justify-content: space-evenly;
        position: relative;
        margin-bottom: 20px;

        ul{
            margin: auto 0;
        }

        li {
            width: 220px;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            line-height: 1.5;
            background: $gradient;
            border-bottom: 1px solid white;
        }

        li:last-of-type {
            border-bottom: none;/*最後の線だけ消す*/
        }

        p{
            font-size: 50px;
            margin: auto 0;
        }

        div{
            color: black;
            font-size: 40px;
            font-weight: 500;
            margin: auto 0;
            background: linear-gradient(transparent 99%, #3796ee 70%);
        }
    }

    .estimatedModalBox{
        font-size: 12px;
        color: #666;
    }

    .modalTel{
        text-align: end;
    }
}

.closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.modalBox{
    text-align: center;
    
}




@media screen and (max-width: 640px) {
    .pc{
        display: none;
    }

    .sp{
        display: inherit;
    }


    img{
        max-width: 100%;
        height: auto;
    }


    /*-----estimate-----*/
    #estimate,#footerForm{
        article{
            background: #fff;
            padding: 50px 0 50px;
            max-width: 980px;
            width: 90%;
            margin: 0 auto;
            position: relative;
            h2{
                text-align: left;
                width: 100%;
                font-size: 24px;
                margin: 0 auto;
                border-bottom: 3px solid #ccc;
            }
            p{
                padding: 30px 0;
                width: 100%;
                margin: 0 auto;
            }
            .formContent{
                width: 100%;
                margin: 0 auto;
                position: relative;
                ul{
                    li{
                        margin-bottom: 20px;
                        dl{
                            display: block;
                            justify-content: space-between;
                            align-items: center;
                            dt{
                                width: 70%;
                                font-size: 14px;
                                background: #f6f6f6;
                                text-align: left;
                                padding: 10px;
                                margin-bottom: 10px;
                                span{
                                    background: #f28f00;
                                    color: #fff;
                                    font-size: 10px;
                                    vertical-align: middle;
                                    padding: 5px;
                                    border-radius: 5px;
                                    margin-left: 10px;
                                }
                            }
                            dd{
                                width: calc(100% - 30px);
                                input[type='text']{
                                    width: 100%;
                                    padding: 15px 10px;
                                }
                                input[type='tel']{
                                    width: 100%;
                                    padding: 15px 10px;
                                }
                                select{
                                    padding: 15px 10px;
                                }
                            }
                        }
                    }
                }
                button{
                    background: $gradient;
                    color: #fff;
                    font-weight: bold;
                    display: block;
                    text-align: center;
                    width: 150px;
                    padding: 10px 15px;
                    border-radius: 5px;
                    border: 1px solid #fff;
                    margin: 50px auto 0;
                    text-decoration: none;
                    transition: 0.3s;
                }
                button:hover{
                    background: #fff;
                    color: #000;
                    border: 1px solid #000;
                }
            }
        }
    }
}
