@charset "UTF-8";
/*-------------------------------------------------
 common
-------------------------------------------------*/
@import "reset.css";

$orange : #f39500;
$red : #f9d949;
$gradient : linear-gradient(180deg, #f9d949 0%, #e38e33 100%);
$yellow : #f9d949;
$black : #080808;

html {
    font-size: 14px;
    line-height: 1.5;
	color: #333;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
	color: #fff;
    background-color: #080808;
	font-weight: 200;
	margin: 0;
	padding: 0;
    position: relative;
}

* {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;
}
a{
	color: #333;
    transition: 0.2s;
}

a:hover {
    opacity: 0.7;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

#wrapper{
    width:100%;
	overflow: hidden;
}

/*essect*/
@keyframes border1{
    0% {
        opacity: 0;
        transform: rotateY(-180deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0);
    }
}
@keyframes fadeIn{
    100% {
        opacity: 1;
    }
}



/*-------------------------------------------------
 header
-------------------------------------------------*/
header{
    width:100%;
	text-align: center;
    padding: 10px 0;
    background: #080808;
    article{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        #logo{
            img{
                width: 100px;
            }
        }
        .boxR{
            ul{
                display: flex;
                align-items: center;
                li{
                    margin: 0 10px;
                    a{
                        color: #fff;
                        font-weight: 400;
                        text-decoration: none;
                    }
                }
                li:last-child{
                    margin-right: 0;
                }
                .mypage{
                    width: 160px;
                    a{
                        color: $black;
                        background: #fff;
                        padding: 10px 0;
                        display: block;
                    }
                }
                .application{
                    width: 160px;
                    a{
                        color: $black;
                        background: $yellow;
                        padding: 10px 0;
                        display: block;
                    }
                }
            }
        }
    }
}
.gray header{
    background: $black;
    padding: 10px 0;
}

.fix-header {
	background-color:$black;
	line-height: 30px;
	top: -30px;
	left: 0;
	width: 100%;
	color: #fff;
	position: fixed;
	opacity:0;
	z-index: 1000;
    padding: 13px 0;
    article{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        #logo{
            img{
                width: 70px;
            }
        }
        .boxR{
            ul{
                display: flex;
                align-items: center;
                text-align: center;
                li{
                    margin: 0 10px;
                    a{
                        color: #fff;
                        font-weight: 400;
                        text-decoration: none;
                    }
                }
                li:last-child{
                    margin-right: 0;
                }
                .mypage{
                    width: 160px;
                    a{
                        color: $black;
                        background: #fff;
                        padding: 10px 0;
                        display: block;
                    }
                }
                .application{
                    width: 160px;
                    a{
                        color: $black;
                        background: $yellow;
                        padding: 10px 0;
                        display: block;
                    }
                }
            }
        }
    }
}



/*-------------------------------------------------
 footer
-------------------------------------------------*/
footer {
    color: #fff;
    padding: 30px 0;
    article{
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        .boxL{
            display: flex;
            img{
                width: 100px;
                display: block;
                margin-right: 10px;
            }
        }
        .boxR{
            display: flex;
            justify-content: flex-end;
            >ul{
                flex-wrap: wrap;
                display: flex;
                text-align: right;
                justify-content: flex-end;
                margin-right: 5%;
                li{
                    width: 40%;
                    max-width: 200px;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
            .inner{
                >ul{
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 10px;
                    li{
                        margin-left: 10px;
                        img{
                            width: 30px;
                        }
                    }
                }
            }
        }
    }
}



/*-----top-----*/
#top{
    width: 100%;
    .fv{
        height: 70vh;
        background: url(../img/gamesoftcp2021/fv.png) no-repeat 50% 100%;
        background-size: cover;
        .content{
            width: 75%;
            max-width: 920px;
            height: 100%;
            margin: 0 auto;
            h1{
                width: 100%;
                color: #fff;
                font-size: 45px;
                font-weight: 700;
                letter-spacing : 0.025em;
                padding-top: 20vh;
            }
            h2{
                width: 100%;
                color: #fff;
                font-size: 60px;
                font-weight: 700;
                letter-spacing : 0.025em;
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
                img{
                    width: 200px;
                    margin-left: 14px;
                }
            }
            .application{
                width: 280px;
                text-align: center;
                margin-top: 90px;
                a{
                    color: $black;
                    background: $yellow;
                    font-weight: 700;
                    letter-spacing : 0.025em;
                    text-decoration: none;
                    padding: 18px 0;
                    display: block;
                    img{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

/*-----strengths-----*/
#strengths{
    width: 75%;
    max-width: 920px;
    height: 100%;
    margin: 60px auto 50px;
    h2{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        letter-spacing : 0.05em;
        display: flex;
        justify-content: center;
        align-items: baseline;
        img{
            width: 133px;
            height: auto;
        }
        span{
            color: $yellow;
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    ul{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            width:30%;
            height: 100px;
            text-align: center;
            border: 1px solid #c21500;
            border-image: $gradient;
            border-image-slice: 1;
            -webkit-transform: skewX(150deg);
            -moz-transform: skewX(150deg);
            transform: skewX(150deg);
            display: flex;
            justify-content: center;
            p{
                font-weight: 700;
                text-align: center;
                letter-spacing : 0.05em;
                transform: skewX(-150deg);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

/*-----present-----*/
#present{
    height: 100%;
    background: url(../img/gamesoftcp2021/present_bg.png) no-repeat 50% 100%;
    background-size: cover;
    article{
        width: 75%;
        max-width: 920px;
        height: 100%;
        margin: 0 auto;
        padding: 90px 0 80px;
        text-align: center;
        h3{
            font-size: 40px;
            font-weight: 700;
            span{
                color: $yellow;
                background: $gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        p{
            font-weight: 500;
            margin-top: 36px;
            letter-spacing : 0.05em;
        }
    }
}

/*-----highspeed-----*/
#highspeed{
    height: 100%;
    background: url(../img/gamesoftcp2021/highspeed_bg.png) no-repeat 50% 100%;
    background-size: cover;
    article{
        width: 75%;
        max-width: 920px;
        height: 100%;
        margin: 0 auto;
        padding: 70px 0;
        text-align: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            letter-spacing : 0.05em;
            color: $yellow;
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h3{
            font-size: 21px;
            font-weight: 700;
            letter-spacing : 0.025em;
        }
        .content_flex{
            margin-top: 52px;
            display: flex;
            justify-content: space-between;
            dl{
                width: 47%;
                max-width: 440px;
                dt{
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing : 0.025em;
                    margin-top: 31px;
                }
            }
        }
        .application{
            width: 50%;
            max-width: 280px;
            margin: 94px auto 0;
            a{
                background: $yellow;
                font-size: 15px;
                font-weight: 700;
                letter-spacing : 0.025em;
                text-decoration: none;
                padding: 18px 0;
                display: block;
                img{
                    margin-left: 16px;
                }
            }
        }
    }
}

/*-----price-----*/
#price{
    width: 75%;
    max-width: 920px;
    height: 100%;
    margin: 0 auto;
    padding: 70px 0;
    h2{
        color: $yellow;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        letter-spacing : 0.025em;
    }
    h3{
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        letter-spacing : 0.025em;
        margin: 16px 0 40px;
    }
    .price_flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
        .price_basic{
            width: 47%;
            max-width: 440px;
            height: 74px;
            text-align: center;
            border: 1px solid #c21500;
            border-image: $gradient;
            border-image-slice: 1;
            -webkit-transform: skewX(150deg);
            -moz-transform: skewX(150deg);
            transform: skewX(150deg);
            display: flex;
            justify-content: center;
            align-items: center;
            h4{
                font-size: 14px;
                font-weight: 500;
                text-align: center;
                letter-spacing : 0.025em;
                transform: skewX(-150deg);
                display: flex;
                align-items: baseline;
                span{
                    color: $yellow;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 35px;
                    font-weight: 700;
                    margin-left: 6px;
                    small{
                        font-size: 14px;
                        font-weight: 700;
                        margin-left: 6px;
                    }
                }
            }
        }
        .price_detail{
            width: 35%;
            max-width: 300px;
            display: table-cell;
            vertical-align: baseline;
            tr{
                font-size: 14px;
                font-weight: 500;
                span{
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 20px;
                    margin-left: 27px;
                }
            }
        }
    }
    .price_table{
        width: 100%;
        margin-top: 44px;
        .bg{
            background: #232323;
        }
        th{
            font-size: 14px;
            font-weight: 500;
            letter-spacing : 0.025em;
            text-align: center;
            border: 1px solid #fff;
            padding: 15px 0;
            span{
                color: $yellow;
            }
        }
        th:empty{
            background-image: linear-gradient(-20deg, transparent 49%, #fff 49%, #fff 51%, transparent 51%, transparent);
        }
        td{
            font-size: 14px;
            font-weight: 500;
            letter-spacing : 0.025em;
            text-align: center;
            border: 1px solid #fff;
            padding: 27px 0;
            span{
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 20px;
                letter-spacing : 0;
            }
        }
    }
    ul{
        width: 70%;
        font-size: 12px;
        letter-spacing : 0.025em;
        margin: 30px auto 0;
    }
    .detail{
        width: 50%;
        max-width: 280px;
        margin: 40px auto 0;
        a{
            background: #fff;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: 0.025em;
            text-decoration: none;
            text-align: center;
            padding: 18px 0;
            display: block;
            img{
                margin-left: 16px;
            }
        }
    }
}

/*-----flow-----*/
#flow_wrap{
    height: 100%;
    background: url(../img/gamesoftcp2021/flow_bg.png) no-repeat 50% 100%;
    background-size: cover;
    #flow{
        width: 75%;
        max-width: 920px;
        height: 100%;
        margin: 0 auto;
        padding: 80px 0 60px;
        h2{
            color: $yellow;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0.025em;
            text-align: center;
        }
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 53px auto 44px;
            li{
                width: 30%;
                background: #000;
                margin-right: 4%;
                padding: 38px 0 31px;
                dl{
                    text-align: center;
                    position: relative;
                    dd{
                        img{
                            width: 100%;
                            max-width: 105px;
                        }
                    }
                    dt{
                        font-size: 16px;
                        font-weight: 700;
                        letter-spacing: 0.025em;
                        margin-bottom: 38px;
                    }
                    .num{
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 59px;
                        font-style: italic;
                        color: #fff;
                        letter-spacing : -0.05em;
                        position: absolute;
                        top: -45%;
                    }
                }
            }
            li:nth-child(3){
                margin-right: 0;
            }
            li:nth-child(4){
                margin-top: 52px;
            }
            li:nth-child(5){
                margin-top: 52px;
                margin-right: 0;
            }
        }
        .summary{
            border: 1px solid #fff;
            margin-top: 40px;
            padding: 39px 54px;
            h4{
                color: $yellow;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0.025em;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.025em;
                margin-bottom: 30px;
            }
            p:last-child{
                margin-bottom: 0;
            }
        }
    }
}

/*-----coupon-----*/
#coupon{
    width: 75%;
    max-width: 920px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
    h2{
        color: $yellow;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0.025em;
    }
    h3{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.025em;
        margin: 20px 0 40px;
    }
    .couponcode{
        width: 100%;
        text-align: center;
        border: 1px solid #c21500;
        border-image: $gradient;
        border-image-slice: 1;
        -webkit-transform: skewX(150deg);
        -moz-transform: skewX(150deg);
        transform: skewX(150deg);
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: $yellow;
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.025em;
            padding: 20px 0;
            text-align: center;
            transform: skewX(-150deg);
        }
    }
}

/*-----attention-----*/
#attention{
    width: 100%;
    background: #171717;
    article{
        width: 75%;
        max-width: 920px;
        height: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 60px 0 80px;
        h2{
            color: $yellow;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: 0.025em;
            margin-bottom: 40px;
        }
        .box{
            text-align: left;
            border: 1px solid #fff;
            padding: 40px 52px;
            ul{
                margin-bottom: 30px;
                li{
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                li:last-child{
                    margin-bottom: 0;
                }
            }
            h4{
                color: $yellow;
                font-size: 16px;
                font-weight: 700;
                letter-spacing: 0.025em;
                margin-bottom: 10px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.025em;
                margin-bottom: 20px;
            }
            p:last-child{
                margin-bottom: 0;
            }
        }
        .confirm_btn{
            margin-left: 50px;
            input[type=checkbox] {
                display: none;
            }
            .agree {
                width: auto;
                font-size: 25px;
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                padding: 5px 30px;
                margin-top: 53px;
                position: relative;
            }
            .agree::before {
                border: 1px solid #fff;
                content: '';
                display: block;
                height: 24px;
                width: 24px;
                left: -6px;
                margin-top: -12px;
                position: absolute;
                top: 50%;
            }
            .agree::after {
                border-right: 6px solid $yellow;
                border-bottom: 6px solid $yellow;
                content: '';
                display: block;
                height: 18px;
                width: 10px;
                left: 0;
                margin-top: -15px;
                opacity: 0;
                position: absolute;
                top: 50%;
                transform: rotate(45deg);
            }
            input[type=checkbox]:checked + .agree::after {
                opacity: 1;
            }
        }
        .application_btn{
            margin: 40px auto 0;
            ul{
                width: 50%;
                max-width: 280px;
                padding: 0;
                margin: 0 auto;
                input {
                    width: 100%;
                    color: #080808;
                    background: $yellow;
                    cursor: pointer;
                    font-size: 15px;
                    font-weight: 700;
                    letter-spacing: 0.025em;
                    padding: 18px 0;
                    border: none;
                    &:hover{
                        opacity: 0.7;
                    }
                    &:disabled {
                        opacity: 1;
                        color: #878787;
                        background: #ccc;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 640px) {
    .pc{
        display: none;
    }
    .sp{
        display: inherit;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    #cursor,#stalker{
        display: none;
    }



    /*-------------------------------------------------
     header
    -------------------------------------------------*/
    header{
        width:100%;
    	text-align: center;
        padding: 10px 0;
        background: #080808;
        article{
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            align-items: center;
            #logo{
                img{
                    width: 100px;
                }
            }
            .boxR{
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        margin: 0 10px;
                        a{
                            color: #fff;
                            font-weight: 400;
                            text-decoration: none;
                        }
                    }
                    li:last-child{
                        margin: 0;
                    }
                    .mypage{
                        width: 75px;
                        a{
                            color: $black;
                            background: #fff;
                            padding: 10px 0;
                            display: block;
                        }
                    }
                    .application{
                        width: 75px;
                        a{
                            color: $black;
                            background: $yellow;
                            padding: 10px 0;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .gray header{
        background: $black;
        padding: 10px 0;
    }

    .fix-header {
    	background-color:$black;
    	line-height: 20px;
    	top: -20px;
    	left: 0;
    	width: 100%;
    	color: #fff;
    	position: fixed;
    	opacity:0;
    	z-index: 1000;
        padding: 10px 0;
        article{
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            align-items: center;
            #logo{
                img{
                    width: 60px;
                }
            }
            .boxR{
                ul{
                    display: flex;
                    li{
                        margin: 0 5px;
                        a{
                            color: #fff;
                            font-weight: 400;
                            text-decoration: none;
                        }
                    }
                    li:last-child{
                        margin: 0;
                    }
                    .mypage{
                        width: 75px;
                        a{
                            padding: 10px 0;
                        }
                    }
                    .application{
                        width: 75px;
                        a{
                            padding: 10px 0;
                        }
                    }
                }
            }
        }
    }



    /*-------------------------------------------------
     footer
    -------------------------------------------------*/
    footer {
        background: $black;
        color: #fff;
        padding: 30px 0;
        article{
            display: block;
            justify-content: space-between;
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            .boxL{
                display: flex;
                font-size: 10px;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 30px;
                img{
                    width: 100px;
                    display: block;
                    margin-right: 10px;
                }
            }
            .boxR{
                display: block;
                justify-content: flex-end;
                >ul{
                    padding: 0;
                    flex-wrap: wrap;
                    display: flex;
                    margin: 15px 0;
                    justify-content: space-between;
                    li{
                        width: 49%;
                        margin-bottom: 10px;
                        a{
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
                .inner{
                    text-align: center;
                    >ul{
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 10px;
                        li{
                            margin: 0 10px;
                            img{
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }



    /*-----top-----*/
    #top{
        width: 100%;
        .fv{
            height: auto;
            background: url(../img/gamesoftcp2021/fv_sp.png) no-repeat;
            background-size: cover;
            .content{
                width: 90%;
                max-width: 920px;
                h1{
                    font-size: 38px;
                    padding-top: 19vh;
                }
                h2{
                    font-size: 30px;
                    img{
                        width: 110px;
                        margin-left: 11px;
                    }
                }
                .application{
                    width: 280px;
                    margin: 70px auto 0;
                    padding-bottom: 115px;
                }
            }
        }
    }

    /*-----strengths-----*/
    #strengths{
        width: 90%;
        max-width: 920px;
        margin: 45px auto 40px;
        h2{
            font-size: 28px;
            img{
                width: 86px;
                height: auto;
            }
        }
        ul{
            margin-top: 30px;
            display: block;
            li{
                width: 80%;
                height: 78px;
                margin: 20px auto 0;
            }
            li:first-child{
                margin-top: 0;
            }
        }
    }

    /*-----present-----*/
    #present{
        background: url(../img/gamesoftcp2021/present_bg_sp.png) no-repeat;
        background-size: cover;
        article{
            width: 90%;
            max-width: 920px;
            padding: 100px 0 60px;
            h3{
                font-size: 28px;
            }
            p{
                margin-top: 27px;
            }
        }
    }

    /*-----highspeed-----*/
    #highspeed{
        height: 100%;
        background: url(../img/gamesoftcp2021/highspeed_bg_sp.png) no-repeat;
        background-size: cover;
        article{
            width: 90%;
            max-width: 920px;
            padding: 50px 0;
            h2{
                font-size: 26px;
            }
            h3{
                font-size: 18px;
                margin-top: 13px;
            }
            .content_flex{
                margin: 30px auto 0;
                display: block;
                dl{
                    width: 100%;
                    margin-bottom: 30px;
                    dt{
                        font-size: 16px;
                        margin-top: 20px;
                    }
                }
            }
            .application{
                width: 90%;
                max-width: 280px;
                margin: 0 auto;
            }
        }
    }

    /*-----price-----*/
    #price{
        width: 90%;
        max-width: 920px;
        padding: 50px 0;
        h2{
            font-size: 25px;
        }
        h3{
            font-size: 16px;
            margin: 13px 0 30px;
        }
        .price_flex{
            display: block;
            .price_basic{
                width: 80%;
                height: 64px;
                margin: 0 auto;
                h4{
                    font-size: 12px;
                    display: block;
                    span{
                        color: $yellow;
                        font-family: 'Roboto Condensed', sans-serif;
                        font-size: 30px;
                        small{
                            font-size: 12px;
                            margin-left: 3px;
                        }
                    }
                }
            }
            .price_detail{
                width: 90%;
                margin: 20px auto 0;
                display: block;
                vertical-align: baseline;
            }
        }
        .price_table_wrap{
            overflow-x: scroll;
        }
        .price_table{
            margin-top: 30px;
            border-collapse: collapse;
            white-space: nowrap;
            th:empty{
                background-image: linear-gradient(-25deg, transparent 49%, #fff 49%, #fff 51%, transparent 51%, transparent);
            }
            td{
                padding: 27px 12px;
            }
        }
        .txt{
            text-align: right;
            margin-top: 15px;
            img{
                margin-left: 10px;
            }
        }
        ul{
            width: 100%;
            margin: 20px auto 0;
        }
        .detail{
            width: 90%;
            max-width: 280px;
            margin: 25px auto 0;
        }
    }

    /*-----flow-----*/
    #flow_wrap{
        height: 100%;
        background: url(../img/gamesoftcp2021/flow_bg_sp.png) no-repeat;
        background-size: cover;
        #flow{
            width: 90%;
            max-width: 920px;
            padding: 50px 0;
            h2{
                font-size: 25px;
            }
            ul{
                display: block;
                margin: 42px auto 40px;
                li{
                    width: 85%;
                    margin: 27px auto 0;
                    dl{
                        text-align: center;
                        position: relative;
                        .num{
                            position: absolute;
                            top: -38%;
                        }
                    }
                }
                li:nth-child(3),
                li:nth-child(4),
                li:nth-child(5){
                    margin: 27px auto 0;
                }
            }
            .summary{
                padding: 25px 22px;
                h4{
                    font-size: 16px;
                }
                p{
                    margin-bottom: 25px;
                }
            }
        }
    }

    /*-----coupon-----*/
    #coupon{
        width: 90%;
        max-width: 920px;
        padding: 50px 0;
        h2{
            font-size: 25px;
        }
        h3{
            font-size: 16px;
            margin: 13px 0 30px;
        }
        .couponcode{
            width: 80%;
            margin: 0 auto;
        }
    }

    /*-----attention-----*/
    #attention{
        article{
            width: 90%;
            max-width: 920px;
            padding: 50px 0 60px;
            h2{
                font-size: 25px;
                margin-bottom: 30px;
            }
            .box{
                padding: 25px 22px;
                ul{
                    margin-bottom: 25px;
                }
            }
            .confirm_btn{
                margin-left: 40px;
                .agree {
                    font-size: 15px;
                    margin-top: 44px;
                }
            }
            .application_btn{
                margin: 40px auto 0;
                ul{
                    width: 90%;
                    max-width: 280px;
                }
            }
        }
    }
}

@media screen and (max-width: 2500px) and (min-width: 1400px) {
    #top{
        .fv{
            background: url(../img/gamesoftcp2021/fv.png) no-repeat 70% 20%;
            background-size: cover;
        }
    }
}
