/*-------------------------------------------------
 common
-------------------------------------------------*/
@import url(reset.css);
html {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  background-color: #080808;
  font-weight: 200;
  margin: 0;
  padding: 0;
  position: relative;
}

* {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #333;
  transition: 0.2s;
}

a:hover {
  opacity: 0.7;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

#wrapper {
  width: 100%;
  overflow: hidden;
}

/*essect*/
@keyframes border1 {
  0% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
/*-------------------------------------------------
 header
-------------------------------------------------*/
header {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #080808;
}
header article {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
header article #logo img {
  width: 100px;
}
header article .boxR ul {
  display: flex;
  align-items: center;
}
header article .boxR ul li {
  margin: 0 10px;
}
header article .boxR ul li a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
header article .boxR ul li:last-child {
  margin-right: 0;
}
header article .boxR ul .mypage {
  width: 160px;
}
header article .boxR ul .mypage a {
  color: #080808;
  background: #fff;
  padding: 10px 0;
  display: block;
}
header article .boxR ul .application {
  width: 160px;
}
header article .boxR ul .application a {
  color: #080808;
  background: #f9d949;
  padding: 10px 0;
  display: block;
}

.gray header {
  background: #080808;
  padding: 10px 0;
}

.fix-header {
  background-color: #080808;
  line-height: 30px;
  top: -30px;
  left: 0;
  width: 100%;
  color: #fff;
  position: fixed;
  opacity: 0;
  z-index: 1000;
  padding: 13px 0;
}
.fix-header article {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.fix-header article #logo img {
  width: 70px;
}
.fix-header article .boxR ul {
  display: flex;
  align-items: center;
  text-align: center;
}
.fix-header article .boxR ul li {
  margin: 0 10px;
}
.fix-header article .boxR ul li a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
.fix-header article .boxR ul li:last-child {
  margin-right: 0;
}
.fix-header article .boxR ul .mypage {
  width: 160px;
}
.fix-header article .boxR ul .mypage a {
  color: #080808;
  background: #fff;
  padding: 10px 0;
  display: block;
}
.fix-header article .boxR ul .application {
  width: 160px;
}
.fix-header article .boxR ul .application a {
  color: #080808;
  background: #f9d949;
  padding: 10px 0;
  display: block;
}

/*-------------------------------------------------
 footer
-------------------------------------------------*/
footer {
  color: #fff;
  padding: 30px 0;
}
footer article {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
footer article .boxL {
  display: flex;
}
footer article .boxL img {
  width: 100px;
  display: block;
  margin-right: 10px;
}
footer article .boxR {
  display: flex;
  justify-content: flex-end;
}
footer article .boxR > ul {
  flex-wrap: wrap;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  margin-right: 5%;
}
footer article .boxR > ul li {
  width: 40%;
  max-width: 200px;
}
footer article .boxR > ul li a {
  color: #fff;
  text-decoration: none;
}
footer article .boxR .inner > ul {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
footer article .boxR .inner > ul li {
  margin-left: 10px;
}
footer article .boxR .inner > ul li img {
  width: 30px;
}

/*-----top-----*/
#top {
  width: 100%;
}
#top .fv {
  height: 70vh;
  background: url(../img/gamesoftcp2021/fv.png) no-repeat 50% 100%;
  background-size: cover;
}
#top .fv .content {
  width: 75%;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
}
#top .fv .content h1 {
  width: 100%;
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 0.025em;
  padding-top: 20vh;
}
#top .fv .content h2 {
  width: 100%;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.025em;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
#top .fv .content h2 img {
  width: 200px;
  margin-left: 14px;
}
#top .fv .content .application {
  width: 280px;
  text-align: center;
  margin-top: 90px;
}
#top .fv .content .application a {
  color: #080808;
  background: #f9d949;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-decoration: none;
  padding: 18px 0;
  display: block;
}
#top .fv .content .application a img {
  margin-left: 15px;
}

/*-----strengths-----*/
#strengths {
  width: 75%;
  max-width: 920px;
  height: 100%;
  margin: 60px auto 50px;
}
#strengths h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#strengths h2 img {
  width: 133px;
  height: auto;
}
#strengths h2 span {
  color: #f9d949;
  background: linear-gradient(180deg, #f9d949 0%, #e38e33 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#strengths ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#strengths ul li {
  width: 30%;
  height: 100px;
  text-align: center;
  border: 1px solid #c21500;
  border-image: linear-gradient(180deg, #f9d949 0%, #e38e33 100%);
  border-image-slice: 1;
  -webkit-transform: skewX(150deg);
  -moz-transform: skewX(150deg);
  transform: skewX(150deg);
  display: flex;
  justify-content: center;
}
#strengths ul li p {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  transform: skewX(-150deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----present-----*/
#present {
  height: 100%;
  background: url(../img/gamesoftcp2021/present_bg.png) no-repeat 50% 100%;
  background-size: cover;
}
#present article {
  width: 75%;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  padding: 90px 0 80px;
  text-align: center;
}
#present article h3 {
  font-size: 40px;
  font-weight: 700;
}
#present article h3 span {
  color: #f9d949;
  background: linear-gradient(180deg, #f9d949 0%, #e38e33 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#present article p {
  font-weight: 500;
  margin-top: 36px;
  letter-spacing: 0.05em;
}

/*-----highspeed-----*/
#highspeed {
  height: 100%;
  background: url(../img/gamesoftcp2021/highspeed_bg.png) no-repeat 50% 100%;
  background-size: cover;
}
#highspeed article {
  width: 75%;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  padding: 70px 0;
  text-align: center;
}
#highspeed article h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #f9d949;
  background: linear-gradient(180deg, #f9d949 0%, #e38e33 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#highspeed article h3 {
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
#highspeed article .content_flex {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}
#highspeed article .content_flex dl {
  width: 47%;
  max-width: 440px;
}
#highspeed article .content_flex dl dt {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.025em;
  margin-top: 31px;
}
#highspeed article .application {
  width: 50%;
  max-width: 280px;
  margin: 94px auto 0;
}
#highspeed article .application a {
  background: #f9d949;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-decoration: none;
  padding: 18px 0;
  display: block;
}
#highspeed article .application a img {
  margin-left: 16px;
}

/*-----price-----*/
#price {
  width: 75%;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  padding: 70px 0;
}
#price h2 {
  color: #f9d949;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.025em;
}
#price h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.025em;
  margin: 16px 0 40px;
}
#price .price_flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#price .price_flex .price_basic {
  width: 47%;
  max-width: 440px;
  height: 74px;
  text-align: center;
  border: 1px solid #c21500;
  border-image: linear-gradient(180deg, #f9d949 0%, #e38e33 100%);
  border-image-slice: 1;
  -webkit-transform: skewX(150deg);
  -moz-transform: skewX(150deg);
  transform: skewX(150deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#price .price_flex .price_basic h4 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.025em;
  transform: skewX(-150deg);
  display: flex;
  align-items: baseline;
}
#price .price_flex .price_basic h4 span {
  color: #f9d949;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-left: 6px;
}
#price .price_flex .price_basic h4 span small {
  font-size: 14px;
  font-weight: 700;
  margin-left: 6px;
}
#price .price_flex .price_detail {
  width: 35%;
  max-width: 300px;
  display: table-cell;
  vertical-align: baseline;
}
#price .price_flex .price_detail tr {
  font-size: 14px;
  font-weight: 500;
}
#price .price_flex .price_detail tr span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  margin-left: 27px;
}
#price .price_table {
  width: 100%;
  margin-top: 44px;
}
#price .price_table .bg {
  background: #232323;
}
#price .price_table th {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-align: center;
  border: 1px solid #fff;
  padding: 15px 0;
}
#price .price_table th span {
  color: #f9d949;
}
#price .price_table th:empty {
  background-image: linear-gradient(-20deg, transparent 49%, #fff 49%, #fff 51%, transparent 51%, transparent);
}
#price .price_table td {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-align: center;
  border: 1px solid #fff;
  padding: 27px 0;
}
#price .price_table td span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  letter-spacing: 0;
}
#price ul {
  width: 70%;
  font-size: 12px;
  letter-spacing: 0.025em;
  margin: 30px auto 0;
}
#price .detail {
  width: 50%;
  max-width: 280px;
  margin: 40px auto 0;
}
#price .detail a {
  background: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-decoration: none;
  text-align: center;
  padding: 18px 0;
  display: block;
}
#price .detail a img {
  margin-left: 16px;
}

/*-----flow-----*/
#flow_wrap {
  height: 100%;
  background: url(../img/gamesoftcp2021/flow_bg.png) no-repeat 50% 100%;
  background-size: cover;
}
#flow_wrap #flow {
  width: 75%;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0 60px;
}
#flow_wrap #flow h2 {
  color: #f9d949;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.025em;
  text-align: center;
}
#flow_wrap #flow ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 53px auto 44px;
}
#flow_wrap #flow ul li {
  width: 30%;
  background: #000;
  margin-right: 4%;
  padding: 38px 0 31px;
}
#flow_wrap #flow ul li dl {
  text-align: center;
  position: relative;
}
#flow_wrap #flow ul li dl dd img {
  width: 100%;
  max-width: 105px;
}
#flow_wrap #flow ul li dl dt {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-bottom: 38px;
}
#flow_wrap #flow ul li dl .num {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 59px;
  font-style: italic;
  color: #fff;
  letter-spacing: -0.05em;
  position: absolute;
  top: -45%;
}
#flow_wrap #flow ul li:nth-child(3) {
  margin-right: 0;
}
#flow_wrap #flow ul li:nth-child(4) {
  margin-top: 52px;
}
#flow_wrap #flow ul li:nth-child(5) {
  margin-top: 52px;
  margin-right: 0;
}
#flow_wrap #flow .summary {
  border: 1px solid #fff;
  margin-top: 40px;
  padding: 39px 54px;
}
#flow_wrap #flow .summary h4 {
  color: #f9d949;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-bottom: 20px;
}
#flow_wrap #flow .summary p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  margin-bottom: 30px;
}
#flow_wrap #flow .summary p:last-child {
  margin-bottom: 0;
}

/*-----coupon-----*/
#coupon {
  width: 75%;
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
#coupon h2 {
  color: #f9d949;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
}
#coupon h3 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin: 20px 0 40px;
}
#coupon .couponcode {
  width: 100%;
  text-align: center;
  border: 1px solid #c21500;
  border-image: linear-gradient(180deg, #f9d949 0%, #e38e33 100%);
  border-image-slice: 1;
  -webkit-transform: skewX(150deg);
  -moz-transform: skewX(150deg);
  transform: skewX(150deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
#coupon .couponcode p {
  color: #f9d949;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
  padding: 20px 0;
  text-align: center;
  transform: skewX(-150deg);
}

/*-----attention-----*/
#attention {
  width: 100%;
  background: #171717;
}
#attention article {
  width: 75%;
  max-width: 920px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 80px;
}
#attention article h2 {
  color: #f9d949;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-bottom: 40px;
}
#attention article .box {
  text-align: left;
  border: 1px solid #fff;
  padding: 40px 52px;
}
#attention article .box ul {
  margin-bottom: 30px;
}
#attention article .box ul li {
  font-weight: 400;
  margin-bottom: 10px;
}
#attention article .box ul li:last-child {
  margin-bottom: 0;
}
#attention article .box h4 {
  color: #f9d949;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-bottom: 10px;
}
#attention article .box p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  margin-bottom: 20px;
}
#attention article .box p:last-child {
  margin-bottom: 0;
}
#attention article .confirm_btn {
  margin-left: 50px;
}
#attention article .confirm_btn input[type=checkbox] {
  display: none;
}
#attention article .confirm_btn .agree {
  width: auto;
  font-size: 25px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  margin-top: 53px;
  position: relative;
}
#attention article .confirm_btn .agree::before {
  border: 1px solid #fff;
  content: '';
  display: block;
  height: 24px;
  width: 24px;
  left: -6px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
}
#attention article .confirm_btn .agree::after {
  border-right: 6px solid #f9d949;
  border-bottom: 6px solid #f9d949;
  content: '';
  display: block;
  height: 18px;
  width: 10px;
  left: 0;
  margin-top: -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
}
#attention article .confirm_btn input[type=checkbox]:checked + .agree::after {
  opacity: 1;
}
#attention article .application_btn {
  margin: 40px auto 0;
}
#attention article .application_btn ul {
  width: 50%;
  max-width: 280px;
  padding: 0;
  margin: 0 auto;
}
#attention article .application_btn ul input {
  width: 100%;
  color: #080808;
  background: #f9d949;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.025em;
  padding: 18px 0;
  border: none;
}
#attention article .application_btn ul input:hover {
  opacity: 0.7;
}
#attention article .application_btn ul input:disabled {
  opacity: 1;
  color: #878787;
  background: #ccc;
}

@media screen and (max-width: 640px) {
  .pc {
    display: none;
  }

  .sp {
    display: inherit;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  #cursor, #stalker {
    display: none;
  }

  /*-------------------------------------------------
   header
  -------------------------------------------------*/
  header {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #080808;
  }
  header article {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }
  header article #logo img {
    width: 100px;
  }
  header article .boxR ul {
    display: flex;
    align-items: center;
  }
  header article .boxR ul li {
    margin: 0 10px;
  }
  header article .boxR ul li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
  }
  header article .boxR ul li:last-child {
    margin: 0;
  }
  header article .boxR ul .mypage {
    width: 75px;
  }
  header article .boxR ul .mypage a {
    color: #080808;
    background: #fff;
    padding: 10px 0;
    display: block;
  }
  header article .boxR ul .application {
    width: 75px;
  }
  header article .boxR ul .application a {
    color: #080808;
    background: #f9d949;
    padding: 10px 0;
    display: block;
  }

  .gray header {
    background: #080808;
    padding: 10px 0;
  }

  .fix-header {
    background-color: #080808;
    line-height: 20px;
    top: -20px;
    left: 0;
    width: 100%;
    color: #fff;
    position: fixed;
    opacity: 0;
    z-index: 1000;
    padding: 10px 0;
  }
  .fix-header article {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
  }
  .fix-header article #logo img {
    width: 60px;
  }
  .fix-header article .boxR ul {
    display: flex;
  }
  .fix-header article .boxR ul li {
    margin: 0 5px;
  }
  .fix-header article .boxR ul li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
  }
  .fix-header article .boxR ul li:last-child {
    margin: 0;
  }
  .fix-header article .boxR ul .mypage {
    width: 75px;
  }
  .fix-header article .boxR ul .mypage a {
    padding: 10px 0;
  }
  .fix-header article .boxR ul .application {
    width: 75px;
  }
  .fix-header article .boxR ul .application a {
    padding: 10px 0;
  }

  /*-------------------------------------------------
   footer
  -------------------------------------------------*/
  footer {
    background: #080808;
    color: #fff;
    padding: 30px 0;
  }
  footer article {
    display: block;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  footer article .boxL {
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  footer article .boxL img {
    width: 100px;
    display: block;
    margin-right: 10px;
  }
  footer article .boxR {
    display: block;
    justify-content: flex-end;
  }
  footer article .boxR > ul {
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
  }
  footer article .boxR > ul li {
    width: 49%;
    margin-bottom: 10px;
  }
  footer article .boxR > ul li a {
    color: #fff;
    text-decoration: none;
  }
  footer article .boxR .inner {
    text-align: center;
  }
  footer article .boxR .inner > ul {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  footer article .boxR .inner > ul li {
    margin: 0 10px;
  }
  footer article .boxR .inner > ul li img {
    width: 30px;
  }

  /*-----top-----*/
  #top {
    width: 100%;
  }
  #top .fv {
    height: auto;
    background: url(../img/gamesoftcp2021/fv_sp.png) no-repeat;
    background-size: cover;
  }
  #top .fv .content {
    width: 90%;
    max-width: 920px;
  }
  #top .fv .content h1 {
    font-size: 38px;
    padding-top: 19vh;
  }
  #top .fv .content h2 {
    font-size: 30px;
  }
  #top .fv .content h2 img {
    width: 110px;
    margin-left: 11px;
  }
  #top .fv .content .application {
    width: 280px;
    margin: 70px auto 0;
    padding-bottom: 115px;
  }

  /*-----strengths-----*/
  #strengths {
    width: 90%;
    max-width: 920px;
    margin: 45px auto 40px;
  }
  #strengths h2 {
    font-size: 28px;
  }
  #strengths h2 img {
    width: 86px;
    height: auto;
  }
  #strengths ul {
    margin-top: 30px;
    display: block;
  }
  #strengths ul li {
    width: 80%;
    height: 78px;
    margin: 20px auto 0;
  }
  #strengths ul li:first-child {
    margin-top: 0;
  }

  /*-----present-----*/
  #present {
    background: url(../img/gamesoftcp2021/present_bg_sp.png) no-repeat;
    background-size: cover;
  }
  #present article {
    width: 90%;
    max-width: 920px;
    padding: 100px 0 60px;
  }
  #present article h3 {
    font-size: 28px;
  }
  #present article p {
    margin-top: 27px;
  }

  /*-----highspeed-----*/
  #highspeed {
    height: 100%;
    background: url(../img/gamesoftcp2021/highspeed_bg_sp.png) no-repeat;
    background-size: cover;
  }
  #highspeed article {
    width: 90%;
    max-width: 920px;
    padding: 50px 0;
  }
  #highspeed article h2 {
    font-size: 26px;
  }
  #highspeed article h3 {
    font-size: 18px;
    margin-top: 13px;
  }
  #highspeed article .content_flex {
    margin: 30px auto 0;
    display: block;
  }
  #highspeed article .content_flex dl {
    width: 100%;
    margin-bottom: 30px;
  }
  #highspeed article .content_flex dl dt {
    font-size: 16px;
    margin-top: 20px;
  }
  #highspeed article .application {
    width: 90%;
    max-width: 280px;
    margin: 0 auto;
  }

  /*-----price-----*/
  #price {
    width: 90%;
    max-width: 920px;
    padding: 50px 0;
  }
  #price h2 {
    font-size: 25px;
  }
  #price h3 {
    font-size: 16px;
    margin: 13px 0 30px;
  }
  #price .price_flex {
    display: block;
  }
  #price .price_flex .price_basic {
    width: 80%;
    height: 64px;
    margin: 0 auto;
  }
  #price .price_flex .price_basic h4 {
    font-size: 12px;
    display: block;
  }
  #price .price_flex .price_basic h4 span {
    color: #f9d949;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
  }
  #price .price_flex .price_basic h4 span small {
    font-size: 12px;
    margin-left: 3px;
  }
  #price .price_flex .price_detail {
    width: 90%;
    margin: 20px auto 0;
    display: block;
    vertical-align: baseline;
  }
  #price .price_table_wrap {
    overflow-x: scroll;
  }
  #price .price_table {
    margin-top: 30px;
    border-collapse: collapse;
    white-space: nowrap;
  }
  #price .price_table th:empty {
    background-image: linear-gradient(-25deg, transparent 49%, #fff 49%, #fff 51%, transparent 51%, transparent);
  }
  #price .price_table td {
    padding: 27px 12px;
  }
  #price .txt {
    text-align: right;
    margin-top: 15px;
  }
  #price .txt img {
    margin-left: 10px;
  }
  #price ul {
    width: 100%;
    margin: 20px auto 0;
  }
  #price .detail {
    width: 90%;
    max-width: 280px;
    margin: 25px auto 0;
  }

  /*-----flow-----*/
  #flow_wrap {
    height: 100%;
    background: url(../img/gamesoftcp2021/flow_bg_sp.png) no-repeat;
    background-size: cover;
  }
  #flow_wrap #flow {
    width: 90%;
    max-width: 920px;
    padding: 50px 0;
  }
  #flow_wrap #flow h2 {
    font-size: 25px;
  }
  #flow_wrap #flow ul {
    display: block;
    margin: 42px auto 40px;
  }
  #flow_wrap #flow ul li {
    width: 85%;
    margin: 27px auto 0;
  }
  #flow_wrap #flow ul li dl {
    text-align: center;
    position: relative;
  }
  #flow_wrap #flow ul li dl .num {
    position: absolute;
    top: -38%;
  }
  #flow_wrap #flow ul li:nth-child(3),
  #flow_wrap #flow ul li:nth-child(4),
  #flow_wrap #flow ul li:nth-child(5) {
    margin: 27px auto 0;
  }
  #flow_wrap #flow .summary {
    padding: 25px 22px;
  }
  #flow_wrap #flow .summary h4 {
    font-size: 16px;
  }
  #flow_wrap #flow .summary p {
    margin-bottom: 25px;
  }

  /*-----coupon-----*/
  #coupon {
    width: 90%;
    max-width: 920px;
    padding: 50px 0;
  }
  #coupon h2 {
    font-size: 25px;
  }
  #coupon h3 {
    font-size: 16px;
    margin: 13px 0 30px;
  }
  #coupon .couponcode {
    width: 80%;
    margin: 0 auto;
  }

  /*-----attention-----*/
  #attention article {
    width: 90%;
    max-width: 920px;
    padding: 50px 0 60px;
  }
  #attention article h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  #attention article .box {
    padding: 25px 22px;
  }
  #attention article .box ul {
    margin-bottom: 25px;
  }
  #attention article .confirm_btn {
    margin-left: 40px;
  }
  #attention article .confirm_btn .agree {
    font-size: 15px;
    margin-top: 44px;
  }
  #attention article .application_btn {
    margin: 40px auto 0;
  }
  #attention article .application_btn ul {
    width: 90%;
    max-width: 280px;
  }
}
@media screen and (max-width: 2500px) and (min-width: 1400px) {
  #top .fv {
    background: url(../img/gamesoftcp2021/fv.png) no-repeat 70% 20%;
    background-size: cover;
  }
}

/*# sourceMappingURL=gamesoftcp2021.css.map */
